.chat-area {
    position: absolute;
    top: 275px;
    left: 97px;
    width: 787px;
    box-sizing: border-box;
    height: 150px;
    max-height: 150px;
    background-color: rgba(55, 55, 55, 0.5);
    border-radius: 10px;
    border: 2px solid #aaaaa3;
    color: white;
    padding: 10px;
    cursor: text;
    overflow-y: auto;
    font-family: pixel;
}

span.entry-player {
    color: gold;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

p.entry-text {
    max-width: 95%;
    display: inline-block;
    margin: 0;
}