body {
    background: -webkit-gradient(radial, center center, 0, center center, 1200, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))), url('/assets/sprites/wood.png') repeat, #000;
    margin: 0;
}

#game {
    cursor: url('/assets/sprites/hand.png'), auto;
    max-width: 980px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
}

@font-face {
    font-family: 'pixel';
    src: url('/assets/fonts/advocut-webfont.ttf');
}

.fontPreload {
    font-family: 'pixel';
    position: absolute;
    left: -100px;
}

.hidden {
  display: none;
}

a.logout {
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
}

a.logout:hover {
    text-decoration: underline;
}

.quiz {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ccc;
}

.quiz ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.quiz ul span {
    display: block;
    margin: 5% 0;
}

.quiz ul li {
    width:50%;
}

.quiz ul li.selected {
    background-color: green;
}

.quiz ul li:nth-child(even) {
    float: left;
}

.quiz ul li:nth-child(odd) {
    float: right;
}

.quiz button {
    float: right;
    margin-top: 10%;
    margin-right: 10%;
}

.finish {
    margin-top: 20%;
}