.room {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 980px;
    height: 499px;
    margin-left: -490px;
    padding: 0;
    box-sizing: border-box;
    color: white;
    padding: 8px;
    cursor: text;
    overflow-y: auto;
    font-family: pixel;
}

.library .content {
    background: url('images/bookshelf.png') repeat-y;
    background-size: 100% 290px;
    width: 100%;
    height: 100%;
}

.close {
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 50%;
    background: #605F61;
    font-size: 28px;
    font-weight: bold;
    line-height: 0px;
    padding: 13px 5px;
    text-decoration: none;
    font-family: pixel;
    position: absolute;
    top: 10px;
    right: 10px;
}

.preview {
    display: block;
    position: absolute;
    height: 500px;
    width: 500px;
    left: 0;
    top: 0;
}

.close:before {
    content: "×";
}

.book {
    height: 80px;
    width: 70px;
    position: absolute;
    top: 0;
    background-size: contain!important;
    left: 0;
    cursor: pointer;
}

#book1 {
    background: url('images/java.jpg') no-repeat;
    top: 13px;
    left: 43px;
}

#book2 {
    background: url('images/douglas.gif') no-repeat;
    top: 13px;
    left: 140px;
}

#book3 {
    background: url('images/design.png') no-repeat;
    top: 8px;
    left: 203px;
    width: 140px;
    height: 100px;
}

#book4 {
    background: url('images/java2.jpg') no-repeat;
    top: 106px;
    left: 100px;
    height: 106px;
}

.library,
.infoCenter,
.trainingCenter {
    display: none;
}

.infoCenter {
    background: url('images/info-center.png') no-repeat;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 35px;
    top: 0px;
    position: absolute;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.infoCenter .close {
    top: 5px;
    right: 5px;
}

.card {
    font-family: pixel;
    height: 150px;
    padding: 5px;
    width: 150px;
    vertical-align: top;
    background-color: white;
    display: inline-block;
    margin-left: 20px;
    margin-top: 13px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card.importance-low {
    background-color: #bcffbc;
}

.preview-anouncement {
    display: none;
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    color: black;
    font-family: pixel;
    padding: 27px;
    box-sizing: border-box;
    border: 1px solid #cecece;
}

.card.importance-high {
    background-color: #ff8181;
}

.card.importance-medium {
    background-color: #ffd2d2;
}

.card h5 {
    margin: 0;
    text-align: center;
    height: 30px;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card p {
    font-size: 14px;
}