doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=10.000')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    meta(http-equiv='cache-control', content='no-cache,no-store')
    meta(http-equiv='pragma', content='no-cache')
    meta(http-equiv='expires', content='-1')
    meta(name='mswebdialog-title', content='Connecting to federationservice.endava.com')
    title Sign In
    link(rel='stylesheet', type='text/css', href='css/login.css')
    style.
      .illustrationClass {
      background-image: url('css/images/illustration.png');
      }
  body.body(dir='ltr')
    #fullPage
      #brandingWrapper.float
        #branding.illustrationClass
      #contentWrapper.float
        #content
          #header
            | federationservice.endava.com
          .message-container.hidden
          #workArea
            #authArea.groupMargin
              #loginArea.login-container
                #loginMessage.groupMargin Sign in with your organizational account
                form#loginForm(method='post', autocomplete='off', action='')
                  #error.fieldMargin.error.smallText
                    label#errorText(for='')
                  #formsAuthenticationArea
                    #userNameArea
                      input#input-user.text.fullWidth(name='UserName', type='email', value='', tabindex='1', spellcheck='false', placeholder='someone@example.com', autocomplete='off')
                    #passwordArea
                      input#input-password.text.fullWidth(name='Password', type='password', tabindex='2', placeholder='Password', autocomplete='off')
                    #kmsiArea(style='display:none')
                      input#kmsiInput(type='checkbox', name='Kmsi', value='true', tabindex='3')
                      label(for='kmsiInput') Keep me signed in
                    #submissionArea.submitMargin
                      span#submitButton.btn-login.submit(tabindex='4') Sign in
                  input#optionForms(type='hidden', name='AuthMethod', value='FormsAuthentication')
                #introduction.groupMargin
          #footerPlaceholder
        #footer
          #footerLinks.floatReverse
            div
              span#copyright © 2013 Microsoft
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='js/client/utils.js')
        script(src='js/client/login.js')
