doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Endava Quest
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/chat-area.css')
    link(rel='stylesheet', href='css/room.css')
  body
    .fontPreload .
    // don't forget the dot, the div cannot be empty
    #game(data-user=user,data-name=name,data-discipline-title=disciplineTitle, data-quest-target=questTarget, data-gender=gender, data-playerid=playerid, data-weapon=weapon, data-armor=armor, data-discipline=disciplineName)
      .chat-area.hidden
      .library
        .room
          .content
            a#book1.book(href="books/OCA.pdf", download)
            a#book2.book(href="books/OCP.pdf", download)
            a#book3.book(href="books/Richard.pdf", download)
            a#book4.book(href="books/Richard.pdf", download)
        a.close(href='#')
      .trainingCenter
        .quiz.hidden
          ul
            each quest in questions
              .question.hidden
                span(id=quest.question.id)=quest.question.name
                each answer in quest.question.answers
                  li(data-cor=answer.correct)
                    span=answer.ans
            button Answer
            .finish.hidden
              span Great, You've just completed the quest!
              span.res
        .close
      .infoCenter
        .card.importance-low(data-title='Ziua lui Doru Tanase', data-description='Hello,<br> Luni il sarbatorim pe Doru Cascadoru’ (aka Doru Tanase).<br> <br>Cei care doresc sa contribuie la o mica atentie sunt asteptati la biroul lui Rares Andrei Negru (et4, langa Moon - baiatu\' cu fata la stalp si spatele la debara) pana luni ora 12:00.<br><br> O zi minunata J')
          h5 Ziua lui Doru Tanase
          p Hello, Luni il sarbatorim pe Doru Cascadoru’ (aka Doru Tanase).
        .card.importance-high(data-title='New Endava HR System – Is Now Live!', data-description='Dear All,<br><br>We are very pleased to announce that the Oracle HCM has been launched and is now LIVE!<br><br>The Freeze Period is over, timecards and absences can now be entered into the system!<br><br>Corrections do NOT need to be made to previous timecards and absences – these will all be fixed by the implementation team.<br><br>Please find more details below on what you can now perform in the system depending on your role:')
          h5 New Endava HR System – Is Now Live!
          p Dear All, We are very pleased to announce that the Oracle HCM has been launched and is now LIVE!
        .card.importance-medium(data-title='Endavans Sharing Insights @ Codecamp Iasi', data-description='Hi everyone,<br><br>As you may already know, this weekend we’ve participated at the 10th year anniversary of Codecamp. We had great speakers, interesting topics and lots of people that joined to support the IT community.<br><br>We would like to congratulate all of our colleagues who shared insights regarding their personal expertise or experience. They offered everyone the opportunity to see them, learn from them and keep in touch for future learning opportunities.<br><br>A special thank you for: Justin Marcucci, Raluca Macovei, Cosmin Anton, Ionut Valentin Negru, Claudiu Bicsabi and Daniel Tescu.<br><br>Endava and Codecamp’s journey continues with Piatra Neamt. Don’t forget to register as a speaker HERE.<br><br>We will be there so you’ll have all our support! ')
          h5 Endavans Sharing Insights @ Codecamp Iasi
          p Hi everyone, As you may already know, this weekend 
        .close
        .preview-anouncement
          .close
          h3 Title
          p Description
    .preview

    .ranks.hidden=users
    a.logout(href='#') LOGOUT
    footer
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
      script(src='/socket.io/socket.io.js')
      script(src='js/client/phaser.js')
      script(src='js/client/easystar.min.js')
      script(src='js/client/phaser-input.min.js')
      script(src='js/client/Being.js', type='text/javascript')
      script(src='js/client/Human.js', type='text/javascript')
      script(src='js/client/NPC.js', type='text/javascript')
      script(src='js/client/Player_client.js', type='text/javascript')
      script(src='js/client/Monster_client.js', type='text/javascript')
      script(src='js/client/Item_client.js', type='text/javascript')
      script(src='js/client/Factory.js', type='text/javascript')
      script(src='js/client/game.js', type='text/javascript')
      script(src='js/client/home.js', type='text/javascript')
      script(src='js/client/Decoder.js', type='text/javascript')
      script(src='js/client/main.js', type='text/javascript')
      script(src='js/client/client.js', type='text/javascript')
      script(src='js/spaceMap.js', type='text/javascript')
      script(src='js/CoDec.js', type='text/javascript')
      script(src='js/AOIutils.js', type='text/javascript')
